body {
    font-family: Roboto, sans-serif;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

nav, .hero, footer {
    background-color: #1F2937;
    color: white
}

.second, .fourth {
    background-color: white;
}

.third {
    background-color: #e5e7eb ;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.nav-links {
    color: #6a7078;
    font-size: 0.8em;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: #f9faf8;
}

ul {
    list-style: none;
    display: flex;
    gap: 12px;
}

.hero {
    display: flex;
    gap: 30px;
    padding-bottom: 50px;
}

.hero-left {
    flex: 1;
}

.hero-right {
    background-color: #6a7078;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    flex: 1
}

.hero-headline {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-copy {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 100;
}

.hero-button {
    background-color: #3882f6;
    border-radius: 8px;
    color: #e5e7eb;
    padding: 5px 20px;
    font-size: smaller;
    margin-top: 10px;
    border: 0
}

.information {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}
.second-images {
    display: flex;
    justify-content: space-around;
    padding: 0 120px;
}

.image-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.image {
    height: 100px;
    width: 100px;
    border: #3882f6 solid 2px;
    border-radius: 10px;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
    text-align: justify;
    padding: 0px 75px;
}

.third {
    padding: 0px 20px; 
}
.cta {
    margin: 30px;
    color: #e5e7eb;
    padding: 20px 30px;
    border-radius: 5px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3882f6;
    margin: 50px;
    padding: 15px 80px;
    color: #e5e7eb;
    border-radius: 8px;
    gap: 25px;
    flex-wrap: wrap;
}

.cta-button {
    border-radius: 8px;
    border: #e5e7eb solid 2px;
    margin: 8px;
    padding: 3px 3px;
    text-align: center;
}

.cta-left {
    flex: 2
}

.cta-right {
    flex: 1
}

.cta-headline {
    font-weight: 650;
}
.cta-text {
    font-size: 0.7em;
}

footer {
    padding: 10px;
    text-align: center;
    font-size: 0.6em;
    color:#e5e7eb;
}